# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
env/
.venv/

# macOS system files
.DS_Store

# Cursor IDE
.cursor/

# Python distribution files
build/
dist/
*.egg-info/

# Logs and temporary files
*.log
*.tmp
*.bak

# Tableau autosave files
*.twb~ 
